MONGODB_URI=mongodb+srv://<user>:<password>@clusterfree.mnnar1k.mongodb.net/?appName=ClusterFree
DB_NAME=imdb

# Фильтр исходных данных при ETL — управляет размером коллекции movies
MIN_YEAR=2010
MIN_VOTES=10000
